@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

@import 'variables.scss';


body {
    color: $fontColorNormal;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: $fontSizeNormal;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
