

$fontColorNormal: #808c9a;
$fontColorBright: #e1e4e7;

$containerBackgroundColor: #011b35;
$borderColorNormal: #0d2c4b;
$borderColorBright: #008bcf;
$fontColorNormal: #808c9a;
$fontColorBright: #e1e4e7;

$headerHeight: 60px;
$footerHeight: 40px;
