

$fontColorNormal: #808c9a;
$fontColorBright: #e1e4e7;

$containerBackgroundColor: #011b35;
$borderColorNormal: #0d2c4b;
$borderColorBright: #008bcf;

$boxHeaderBackgroundColor: #102842;
$boxBodyBackgroundColor: #09213c;
$boxBorderColor: #0d2c4b;

$buttonColor: #008bcf;

$fontColorNormal: #808c9a;
$fontColorBright: #e1e4e7;

$borderColorNormal: #0d2c4b;

$headerHeight: 60px;
$footerHeight: 40px;
