
@import '../../../../variables.scss';


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    /*grid-auto-rows: minmax(400px, auto);*/
    grid-gap: 20px;
    margin: 20px;

    .portfolio-box {
        height: 100%;
        width: 100%;

        .portfolio-box-header {
            background-color: $boxHeaderBackgroundColor;
            border: 1px solid $boxBorderColor;
            border-radius: 7px 7px 0px 0px;
            color: $fontColorBright;
            line-height: 50px;
            padding: 0 20px;
        }

        .portfolio-box-body {
            background-color: $boxBodyBackgroundColor;
            border: 1px solid $boxBorderColor;
            color: $fontColorNormal;
            padding: 20px;


            .portfolio-value-label {
                color: $fontColorBright;
                padding-right: 10px;
            }
        }
    }
}
