

<div class="portfolio-container">
    <div class="portfolio-box" *ngIf="portfolioValue">
        <div class="portfolio-box-header">
            Portfolio Value
        </div>

        <div class="portfolio-box-body">
            <table>
                <tr>
                    <td class="portfolio-value-label">Total Value:</td>
                    <td>{{portfolioValue.total}}</td>
                </tr>
                <tr>
                    <td class="portfolio-value-label">Credits:</td>
                    <td>{{portfolioValue.credits}}</td>
                </tr>
                <tr>
                    <td class="portfolio-value-label">Stock Value:</td>
                    <td>{{portfolioValue.marketTotal}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="portfolio-box">
        <div class="portfolio-box-header">
            Owned Stocks
        </div>

        <div class="portfolio-box-body">
            Body
        </div>
    </div>

    <div class="portfolio-box">
        <div class="portfolio-box-header">
            Box 3
        </div>

        <div class="portfolio-box-body">
            Body
        </div>
    </div>

    <div class="portfolio-box">
        <div class="portfolio-box-header">
            Box 4
        </div>

        <div class="portfolio-box-body">
            Body
        </div>
    </div>
</div>


<!--
<div *ngIf="portfolioValue">
    Credit Balance: {{portfolioValue.credits}}
</div>

<div *ngIf="pricedUserStocks" style="padding-top:30px;">
    <div>Priced User Stocks</div>
    <table>
        <tr>
            <td>Market</td>
            <td>Symbol</td>
            <td>Name</td>
            <td>Profile Image</td>
            <td>Timestamp</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Value</td>
        </tr>
        <tr *ngFor="let pricedUserStock of pricedUserStocks.results">
            <td>{{pricedUserStock.market}}</td>
            <td>{{pricedUserStock.symbol}}</td>
            <td>{{pricedUserStock.name}}</td>
            <td>{{pricedUserStock.profileImage}}</td>
            <td>{{pricedUserStock.timestamp}}</td>
            <td>{{pricedUserStock.shares}}</td>
            <td>{{pricedUserStock.price}}</td>
            <td>{{pricedUserStock.value}}</td>
        </tr>
    </table>
</div>

<div *ngIf="marketActivity" style="padding-top:30px;">
    <div>Market Activity</div>
    <table>
        <tr>
            <td>ID</td>
            <td>Type</td>
            <td>Timestamp</td>
            <td>Market</td>
            <td>Symbol</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Value</td>
        </tr>
        <tr *ngFor="let activityLog of marketActivity.results">
            <td>{{activityLog.id}}</td>
            <td>{{activityLog.type}}</td>
            <td>{{activityLog.timestamp}}</td>
            <td>{{activityLog.market}}</td>
            <td>{{activityLog.symbol}}</td>
            <td>{{activityLog.shares}}</td>
            <td>{{activityLog.price}}</td>
            <td>{{activityLog.value}}</td>
        </tr>
    </table>
</div>

<div *ngIf="totalRanks" style="padding-top:30px;">
    <div>Total Ranks</div>
    <table>
        <tr>
            <td>Batch</td>
            <td>Rank</td>
            <td>Value</td>
        </tr>
        <tr *ngFor="let totalRank of totalRanks.ranks">
            <td>{{totalRank.batch}}</td>
            <td>{{totalRank.rank}}</td>
            <td>{{totalRank.value}}</td>
        </tr>
    </table>

    <div>Total Rank Deltas</div>
    <table>
        <tr>
            <td>Interval</td>
            <td>Change</td>
            <td>Percent</td>
        </tr>
        <tr *ngFor="let totalRankDelta of totalRanks.deltas">
            <td>{{totalRankDelta.interval}}</td>
            <td>{{totalRankDelta.change}}</td>
            <td>{{totalRankDelta.percent}}</td>
        </tr>
    </table>
</div>

<div *ngIf="creditRanks" style="padding-top:30px;">
    <div>Credit Ranks</div>
    <table>
        <tr>
            <td>Batch</td>
            <td>Rank</td>
            <td>Value</td>
        </tr>
        <tr *ngFor="let creditRank of creditRanks.ranks">
            <td>{{creditRank.batch}}</td>
            <td>{{creditRank.rank}}</td>
            <td>{{creditRank.value}}</td>
        </tr>
    </table>

    <div>Credit Rank Deltas</div>
    <table>
        <tr>
            <td>Interval</td>
            <td>Change</td>
            <td>Percent</td>
        </tr>
        <tr *ngFor="let creditRankDelta of creditRanks.deltas">
            <td>{{creditRankDelta.interval}}</td>
            <td>{{creditRankDelta.change}}</td>
            <td>{{creditRankDelta.percent}}</td>
        </tr>
    </table>
</div>

<div *ngIf="marketTotalRanks" style="padding-top:30px;">
    <div>Market Total Ranks</div>
    <table>
        <tr>
            <td>Batch</td>
            <td>Rank</td>
            <td>Value</td>
        </tr>
        <tr *ngFor="let marketTotalRank of marketTotalRanks.ranks">
            <td>{{marketTotalRank.batch}}</td>
            <td>{{marketTotalRank.rank}}</td>
            <td>{{marketTotalRank.value}}</td>
        </tr>
    </table>

    <div>Market Total Rank Deltas</div>
    <table>
        <tr>
            <td>Interval</td>
            <td>Change</td>
            <td>Percent</td>
        </tr>
        <tr *ngFor="let marketTotalRankDelta of marketTotalRanks.deltas">
            <td>{{marketTotalRankDelta.interval}}</td>
            <td>{{marketTotalRankDelta.change}}</td>
            <td>{{marketTotalRankDelta.percent}}</td>
        </tr>
    </table>
</div>
-->
