
# Only used during development.

server.port = 8080
server.context.path = /
server.api.path = /api/*


# CREATE DATABASE vstockstest;
# CREATE USER vstocks WITH PASSWORD 'vstocks';
# GRANT ALL PRIVILEGES ON DATABASE vstockstest TO vstocks;

db.url = jdbc:postgresql://localhost:5432/vstockstest
db.driver = org.postgresql.Driver
db.user = vstocks
db.pass = vstocks
db.min.idle = 4
db.max.pool.size = 30
db.idle.timeout = 60000
db.connection.timeout = 20000


data.history.days = 30


user.initial.balance = 10000


twitter.api.key = TODO
twitter.api.secret = TODO
twitter.api.bearer = TODO
twitter.api.callback = http://localhost:8080/api/v1/security/callback
