
server.port = 8443
server.context.path = /
server.ui.path = vstocks-ui/dist/vstocks-ui

server.keystore.file = keystore.p12
server.keystore.type = PKCS12
server.keystore.password = changeit
server.truststore.file = truststore.p12
server.truststore.type = PKCS12
server.truststore.password = changeit


# CREATE DATABASE vstocks;
# CREATE DATABASE vstockstest;
# CREATE USER vstocks WITH PASSWORD 'vstocks';
# GRANT ALL PRIVILEGES ON DATABASE vstocks TO vstocks;
# GRANT ALL PRIVILEGES ON DATABASE vstockstest TO vstocks;

db.url = jdbc:postgresql://localhost:5432/vstocks
db.driver = org.postgresql.Driver
db.user = vstocks
db.pass = vstocks
db.min.idle = 4
db.max.pool.size = 30
db.idle.timeout = 60000
db.connection.timeout = 20000


data.history.days = 30


user.initial.credits = 10000


jwt.signature.secret = secret
jwt.encryption.secret = secret
jwt.expiration.hours = 4


# https://developer.twitter.com/en/portal/dashboard
twitter.api.consumer.key = TODO
twitter.api.consumer.secret = TODO
twitter.api.accesstoken.key = TODO
twitter.api.accesstoken.secret = TODO
twitter.api.bearer = TODO
twitter.api.login.callback = https://localhost:8443/api/security/callback


# https://console.developers.google.com/apis/credentials?project=vstocks&folder=&organizationId=
google.api.client.id = TODO
google.api.client.secret = TODO
google.api.login.callback = https://localhost:8443/api/security/callback
# https://console.cloud.google.com/projectselector2/iam-admin/serviceaccounts?supportedpurview=project
google.api.scopes = https://www.googleapis.com/auth/youtube.readonly
google.api.credentials = vstocks-googleapi.json


# https://developers.facebook.com/apps/
facebook.api.client.id = TODO
facebook.api.client.secret = TODO
facebook.api.login.callback = https://localhost:8443/api/security/callback

