
@import '../variables.scss';

.container {
    background-color: $containerBackgroundColor;
    height: 100vh;
    margin: auto;

    section {
        border-bottom: 1px solid $borderColorNormal;
        border-top: 1px solid $borderColorNormal;
        height: calc(100vh - 60px - 40px - 2px); /* full page height - $headerHeight - $footerHeight */
        margin: 0;
    }
}
