
<header>
    <nav>
        <label class="logo">
            <a href="#" class="logo">vStocks</a>
        </label>

        <ul *ngIf="isLoggedIn">
            <li><a href="#" routerLink="/user/dashboard" class="active">Dashboard</a></li>
            <li><a href="#" routerLink="/user/standings">Standings</a></li>
            <li><a href="#" routerLink="/user/portfolio">Portfolio</a></li>
            <li><a href="#" routerLink="/user/achievements">Achievements</a></li>
            <li><span class="separator"></span></li>
            <li><a href="#" routerLink="/user/profile">Profile</a></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
        </ul>

        <ul *ngIf="!isLoggedIn">
            <li><a href="#" routerLink="/public/dashboard">Dashboard</a></li>
            <li><a href="#" routerLink="/public/standings">Standings</a></li>
            <li><span class="separator"></span></li>
            <li><a href="#" routerLink="/user/login">Login</a></li>
        </ul>
    </nav>
</header>
