
@import '../../../../../variables.scss';


.portfolio-value-label {
    color: $fontColorBright;
    padding-right: 10px;
}

.portfolio-value-number {
    color: $fontColorNormal;
    text-align: right;
}

.portfolio-value-market-label {
    color: $fontColorNormal;
    padding-left: 20px;
    padding-right: 10px;
}

.portfolio-value-market-number {
    color: $fontColorNormal;
    text-align: right;
}

.currency {
    color: $fontColorBright;
    padding-left: 2px;
}
