
<div class="profile-container" *ngIf="user">

    <div class="box">

        <div class="box-header">
            Profile
        </div>

        <div class="box-body">
            <div class="profile-image" *ngIf="user.profileImage">
                <img src="{{user.profileImage}}" alt="profile image">
            </div>

            <div class="user-info">
                <form [formGroup]="profileSaveForm" (ngSubmit)="profileSave()">
                    <table class="user-info-table">
                        <tr *ngIf="errorMessage">
                            <td class="error-message" colspan="2">
                                {{errorMessage}}
                            </td>
                        </tr>
                        <tr>
                            <td class="field-label">
                                Email:
                            </td>
                            <td class="field-value">
                                {{user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td class="field-label">
                                <label for="username">Username:</label>
                            </td>
                            <td class="field-value">
                                <input formControlName="username" type="text" placeholder="Username"
                                       (keyup)="checkUsername()">
                            </td>
                        </tr>
                        <tr>
                            <td class="field-label">
                                <label for="displayName">Name:</label>
                            </td>
                            <td class="field-value">
                                <input formControlName="displayName" type="text" placeholder="Name">
                            </td>
                        </tr>
                        <tr>
                            <td class="actions" colspan="2">
                                <div class="save-button">
                                    <a href="#" (click)="profileSave(saveForm)">Save</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>