
<div class="profile-container" *ngIf="user">

    <div class="profile-box">

        <div class="profile-box-header">
            Profile
        </div>

        <div class="profile-box-body">
            <div class="profile-image" *ngIf="user.profileImage">
                <img src="{{user.profileImage}}" alt="profile image">
            </div>

            <div class="user-info">
                <table class="user-info-table">
                    <tr>
                        <td class="field-label">
                            Email:
                        </td>
                        <td class="field-value">
                            {{user.email}}
                        </td>
                    </tr>
                    <tr>
                        <td class="field-label">
                            <label for="username">Username:</label>
                        </td>
                        <td class="field-value">
                            <input name="username" type="text" value="{{user.username}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="field-label">
                            <label for="displayName">Name:</label>
                        </td>
                        <td class="field-value">
                            <input name="displayName" type="text" value="{{user.displayName}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="actions" colspan="2">
                            <div class="save-button">
                                <a href="#" (click)="profileSave()">Save</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>